{% include 'navbar.html'%}

{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}

{% block content %}




<div class="row">
        <div class="card" >
                <div class="card-body text-center">
                        <h4><a style="font-size: 40px;">{{pitch.title}}</a></h4>
                        <h5 class="card-text text-center" style="font-size: 20px;">{{pitch.description}}.</h5>
                </div>
        </div>


        <div class="container">
                <div class="row">
                        <div class="jumbotron">
                                {{wtf.quick_form(form)}}
                        </div>
                </div>
        </div>

        <hr>
        <hr>
        <div class="container"style=" border:2px double rgb(26, 123, 214);border-radius: 15px 50px 30px 5px; margin-top: 20px;">
                <div>
                        <h4 style="color:rgb(26, 123, 214); text-align: center; font-size: 30px;">Comments</h4>
                      <h4 style="font-size: 30px;">{{ macro.displayComments(comment) }}</h4>  

                </div>

        </div>

</div>




{% endblock %}