{% macro displayPitchCategory(pitch_list)%}
<div class="row">
	{% if pitch_list %}
		{% for pitch in pitch_list %}
		<div class="col-md-6">
			<div class="thumbnail text-center">
			<h5 class="card-header">{{pitch.title}}</h5>
			<h5 class="card-header">{{pitch.category}}</h5>
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<h2>{{pitch.description}}</h2>
					<footer class="blockquote-footer"> Posted by {{pitch.user.username}}</footer>
				</blockquote>
				
				<a href="{{url_for('main.make_comment',pitch_id = pitch.id)}}" class="btn btn-info"> Add a comment</a>
				<a href="{{url_for('main.make_upvote',pitch_id = pitch.id)}}" class= "btn btn-primary btn-sm"><i></i>Upvote <span>{{pitch.upvotes.count()}}</span></a>
				<a href="{{url_for('main.make_downvote',pitch_id = pitch.id)}}" class= "btn btn-danger btn-sm"><i class="far fa-thumbs-up"></i>Downvote <span>{{pitch.downvotes.count()}}</span></a>


			</div>
		</div>

		</div>
		{% endfor %}
	{% else %}
	{% endif %}
</div> 

{% endmacro%}

<!-- Displaying comments macro -->
{% macro displayComments(comment_list) %}
<ul>

    {% if comment_list %}
    {% for comment in comment_list %}
        <div class="row text-center">
                <a><p style="color: brown">{{ comment.description }}</p></a>
                <small> posted by {{comment.user.username}}</small>
        </div>
    {% endfor %}
    {% else %}

    <h3>This post does  not does not have any comments yet !</h3>
    {%endif%}

</ul>

{% endmacro %} 