
<div class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="font-size: 90%;color:black;">Pitch Zone</a>
            <a class="navbar-brand" href="/pitch/new" style="font-size: 90%;">Make pitch</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" style="font-size: 90%;">
                {%if current_user.is_authenticated%}
                <li><a style="color:black;">Current user: {{current_user.username}}</a></li>
                <li><a style="color:black;"href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
                <li><a style="color:black;"href="{{url_for('auth.logout')}}">Sign out</a></li>
                {%else%}
                <li><a style="color:black; border:1px solid black;"href="{{url_for('auth.login')}}">Sign in</a></li>
                {%endif%}
            </ul>
        </div>
    </div>
</div>